<section id="add">
  <form action="/" method="post">
    <input type="text" name="title" placeholder="Titre"/>
    <textarea name="content" placeholder="Discussion"></textarea>
    <input type="text" name="episode" placeholder="episode"/>
    <input type="submit" value="Ajouter!"/>
  </form>
</section>